module {{PROJECT_NAME}}

go 1.25

require (
	github.com/gin-gonic/gin v1.11.0
	github.com/gin-contrib/cors v1.7.0
	entgo.io/ent v0.14.0
	github.com/joho/godotenv v1.5.1
	github.com/golang-jwt/jwt/v5 v5.2.0{{if ENABLE_AUTH}}{{end}}
	go.uber.org/zap v1.26.0
	github.com/gorilla/websocket v1.5.1{{if ENABLE_WEBSOCKET}}{{end}}
)
